{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" placeholder="Password" name="passwordOne" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" placeholder="Password Again" name="passwordTwo" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Enter</button>
    </form>
{% endblock %}
