{% extends "layout.html" %}

{% block title %}
    Credentials
{% endblock %}

{% block main %}
    <!DOCTYPE html>
    <html>
    <head>
    <style>

    table, th, td {
        border: 1px solid green;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    </style>
    </head>
    <body>

    <table align="center">
        <tr>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
        </tr>

        {% for row in rows %}
            <tr>
                <td>{{ row["website"] }}</td>
                <td>{{ row["username"] }}</td>
                <td>{{ row["password"] }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
